<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Filter type="ThresholdFilter" level="info"/>

    <Appenders>

        <RollingFile name="rollingFile"
                     fileName="logs/Log4j2.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout pattern="%d{MM-dd-yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n "/>

            <Policies>
                <SizeBasedTriggeringPolicy size="1000 MB"/>
            </Policies>

        </RollingFile>

    </Appenders>


    <Loggers>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>


</Configuration>
