<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <display-name>Archetype Created Web Application</display-name>
    -
    <data-source>
        <name>SignsControl</name>
    </data-source>
</web-app>